 * {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
    
body{
  background-color: hsl(212, 45%, 89%);
}
.container{ 
  display : flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  padding: 12px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
}
.card-container{
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-container h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color:hsl(218, 44%, 22%);
}
.card-container p {
    color:hsl(220, 15%, 55%);
    padding-bottom: 10px;

}


    